@import url(lib/bootstrap.css);
@import url(lib/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/main\.scss}line{font-family:\000033}}
body {
  color: #666666;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/main\.scss}line{font-family:\000037}}
.main {
  margin: 0 auto;
  width: 90%;
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/main\.scss}line{font-family:\000037}}
  .main {
    max-width: 960px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/welcome\.scss}line{font-family:\000035}}
.welcome {
  width: 90%;
  margin: 0 auto;
  font-size: 1.2em;
  max-width: 23em;
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/welcome\.scss}line{font-family:\000035}}
  .welcome {
    margin-top: 3em;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/welcome\.scss}line{font-family:\0000315}}
.welcome h1 {
  text-align: center;
  margin-bottom: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/welcome\.scss}line{font-family:\0000320}}
.welcome p {
  text-align: justify;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/welcome\.scss}line{font-family:\0000324}}
.welcome .note {
  font-style: italic;
  font-weight: 300;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/welcome\.scss}line{font-family:\0000329}}
.welcome .btn {
  margin: 2em auto 0;
}

@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/header\.scss}line{font-family:\000039}}
  .banner {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #60c5f3), color-stop(100%, #3eace4));
    background-image: -webkit-linear-gradient(#60c5f3, #3eace4);
    background-image: -moz-linear-gradient(#60c5f3, #3eace4);
    background-image: -o-linear-gradient(#60c5f3, #3eace4);
    background-image: linear-gradient(#60c5f3, #3eace4);
    position: absolute;
    width: 50%;
    height: 52px;
    left: 50%;
    top: 2em;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/header\.scss}line{font-family:\0000319}}
header {
  margin: 2em auto 1em;
  max-width: 960px;
  position: relative;
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/header\.scss}line{font-family:\0000319}}
  header {
    height: 101px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/header\.scss}line{font-family:\0000328}}
header h1 {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 0.1em;
  left: 0;
  width: 5em;
}
@media only screen and (max-width: 420px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/header\.scss}line{font-family:\0000328}}
  header h1 {
    position: relative;
    left: 10px;
  }
}
@media only screen and (min-width: 421px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/header\.scss}line{font-family:\0000328}}
  header h1 {
    position: relative;
    left: 0.5em;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/header\.scss}line{font-family:\0000348}}
header h1 img {
  position: absolute;
  top: 0;
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/header\.scss}line{font-family:\0000355}}
header .form-search {
  padding: 0.8em 1em;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #60c5f3), color-stop(100%, #3eace4));
  background-image: -webkit-linear-gradient(#60c5f3, #3eace4);
  background-image: -moz-linear-gradient(#60c5f3, #3eace4);
  background-image: -o-linear-gradient(#60c5f3, #3eace4);
  background-image: linear-gradient(#60c5f3, #3eace4);
}
@media only screen and (max-width: 420px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/header\.scss}line{font-family:\0000360}}
  header .form-search input {
    display: block;
    width: 100%;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 421px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/header\.scss}line{font-family:\0000355}}
  header .form-search {
    margin: 0.5em 0 1em;
  }
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/header\.scss}line{font-family:\0000355}}
  header .form-search {
    margin-left: 15em;
    -moz-border-radius-topleft: 0.3em;
    -webkit-border-top-left-radius: 0.3em;
    border-top-left-radius: 0.3em;
    -moz-border-radius-bottomleft: 0.3em;
    -webkit-border-bottom-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/header\.scss}line{font-family:\0000377}}
header .form-search button {
  margin-left: 0.5em;
}
@media only screen and (max-width: 420px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/header\.scss}line{font-family:\0000377}}
  header .form-search button {
    display: block;
    width: 100%;
    margin: 0.5em 0 0;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/menuLeft\.scss}line{font-family:\000033}}
.menuLeft {
  border-top-style: solid;
  border-top-color: #d9d9d9;
  float: left;
  font-weight: bold;
  font-size: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/menuLeft\.scss}line{font-family:\0000311}}
.menuLeft a {
  color: #666666;
  text-decoration: none;
  background-image: url("../img/group-symbols.png");
  background-position: 0px -34px;
  background-repeat: no-repeat;
  padding-left: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/menuLeft\.scss}line{font-family:\0000322}}
.menuLeft a.group {
  background-position: 0px -816px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/file-overview\.scss}line{font-family:\000033}}
.movie-overview {
  border-top-style: solid;
  border-top-color: #d9d9d9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/file-overview\.scss}line{font-family:\000036}}
.movie-overview ul {
  list-style-type: none;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/file-overview\.scss}line{font-family:\0000311}}
.movie-overview li {
  position: relative;
  margin-bottom: 5px;
  padding-top: 5px;
  border-top: 1px solid #cdcdcd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/file-overview\.scss}line{font-family:\0000318}}
.movie-overview li:first-child {
  border-top: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/file-overview\.scss}line{font-family:\0000323}}
.movie-overview .icon {
  position: absolute;
  top: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/file-overview\.scss}line{font-family:\0000328}}
.movie-overview a, .movie-overview .summary {
  margin-left: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/file-overview\.scss}line{font-family:\0000332}}
.movie-overview a {
  font-weight: bold;
  color: #666666;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/file-overview\.scss}line{font-family:\0000337}}
.movie-overview .summary {
  font-size: 0.8em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/file-overview\.scss}line{font-family:\0000340}}
.movie-overview .summary > * {
  margin-left: 3px;
  margin-right: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/file-overview\.scss}line{font-family:\0000346}}
.movie-overview .author {
  font-weight: bold;
}
