@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/main\.scss}line{font-family:\000033}}
body {
  color: #666666;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/main\.scss}line{font-family:\000037}}
.main {
  margin: 0 auto;
  width: 90%;
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/stephan\/Dokumente\/Projekte\/Bachelorarbeit\/src\/centerdevice-spa\/src\/assets\/sass\/main\.scss}line{font-family:\000037}}
  .main {
    max-width: 960px;
  }
}
